<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Hotshell demo - {{.Item.Desc}}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>

    <style>{{.Css}}</style>
</head>
<body>
<div id="container"></div>
<script>

var item = {{template "item" .Item}}
var filename = '{{.Filename}}'

</script>
<script type="text/babel">{{.Js}}</script>
</body>
</html>